.header-bg{
    width: 100%;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.18);
        -webkit-user-select: none;  /* Safari */
    -moz-user-select: none;     /* Firefox */
    -ms-user-select: none;      /* Internet Explorer/Edge */
    user-select: none;          /* Standard syntax */
}

.nav-bar{
    display: grid;
    grid-template-columns: minmax(0,1250px);
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.nav-bar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar-container a{
    text-decoration: none;
}

.logo-container .logo{
    width: 230px;
    object-fit: contain;
}

.cart-icon-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    border: 3px solid rgb(33, 33, 33);
    padding: 3px 5px;
    background-color: rgb(33, 33, 33);
    border-radius: 5px;
}

.cart-icon{
    color: rgb(231, 231, 231);
    font-size: 27px;
    
}

.cart-quantity{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(231, 231, 231);
    border-radius: 5px;
    color: black;
    font-size: 23px;
    font-weight: 500;
    width: 45px;
    height: 45px;
}